:root {
	--p-percent: 60%;
	--opacity: 0.6;
	--p-red: hsla(0, 100%, var(--p-percent), var(--opacity));
	--p-orange: hsla(30, 100%, var(--p-percent), var(--opacity));
	--p-yellow: hsla(60, 100%, var(--p-percent), var(--opacity));
	--p-green: hsla(120, 100%, var(--p-percent), var(--opacity));
	--p-cyan: hsla(180, 100%, var(--p-percent), var(--opacity));
	--p-blue: hsla(240, 100%, var(--p-percent), var(--opacity));
	--p-purple: hsla(270, 100%, var(--p-percent), var(--opacity));
	--p-magenta: hsla(300, 100%, var(--p-percent), var(--opacity));
	--g1: hsla(240, 40%, 10%, 1);
	--g2: hsla(240, 40%, 5%, 1);
	--g3: hsla(240, 85%, 14%, 1);
	--g4: hsla(240, 50%, 15%, 1);
}

.App {
  height: 100vh;
  background-color: hsl(240, 5%, 5%);
  overflow: scroll;
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 60px 30px;
  color: white;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 28px;
  margin: 0.5em 0 0.6em;
}

.sub-head {
	font-size: 26px;
	margin: 0.5em 0 1.2em;
}



.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 60px;
  border: 0;
  width: 18rem;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, var(--p-red), var(--p-yellow), var(--p-green));
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, var(--p-red), var(--p-orange), var(--p-yellow), var(--p-green), var(--p-cyan), var(--p-blue), var(--p-purple), var(--p-magenta));
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;
  color: white;
}

.disabled-button {
	background: -webkit-linear-gradient(left, var(--g1), var(--g2), var(--g3), var(--g4));
	background-size: 200% 200%;
	animation: gradient-animation 6s ease infinite;
	color: #eeeef3;
	font-size: 22px;
	border: 1px solid #445;
	font-style: italic;
  }

.divider {
	height: 1px;
	width: 60%;
	margin: 1.5em auto;
	border-bottom: 1px solid #445;
	display: block;
}

.loading {
	font-style: italic;
	font-size: 22px;
	font-weight: bold;
	color: hsla(50, 100%, 55%, 1)
}

.thumbnail-header {
	font-size: 28px;
	color: white;
	margin: 0.2em 0 0.6em;
}
.thumbnail-container {
	margin: 0 auto;
	width: 70%;
}

.thumbnails {
	display: inline;
	margin: 4px 4px;
}

.candy-text {
	font-size: 18px;
	color: #ccc;
	width: 100%;
	margin-top: 1.5em;
  }

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
}



.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
